// color


// font-size
$FontSize-s = .2rem
$FontSize-m = .24rem
$FontSize-l = .28rem
$FontSize-l-x =  .32rem

// $FontSize-s = 10px
// $FontSize-m = 12px
// $FontSize-l = 14px
// $FontSize-l-x =  16px

// height
$HeaderHeight = 0.8rem
